<ion-header translucent>
  <ion-toolbar>
    <div>
      <button class="backclass" (click)="goSetting()">
        <ion-icon class="left_arrow"></ion-icon>
      </button>
      <label class="custom-label white-color">
        <label>{{'setting.terms_conditions' | translate | uppercase}}</label>
      </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <h1 class="titleclass" *ngIf="termsconditionsForm">{{termsconditionsForm.title}}</h1>

          <p class="subtitleclass" *ngIf="termsconditionsForm" [innerHTML]="termsconditionsForm.content">
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>