ion-header {
	ion-toolbar {
		--background: black;
		color: white;
	}
}
ion-content {
	--background: #f7f7fa;
	ion-card {
		margin: 10px !important;
		--background: white;
		border-radius: 10px;
		p {
			font-size: 14px;
			color: #78849e;
			line-height: 1.8;
			padding: 10px 0;
		}
	}
}
