<ion-header translucent>
  <ion-toolbar>
    <div>
      <button class="backclass" (click)="goSetting()">
        <ion-icon class="left_arrow"></ion-icon>
      </button>
      <label class="custom-label white-color">
        <label>{{'setting.about' | translate | uppercase}}</label>
      </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <p class="subtitleclass">Who May Use the Services</p>

          <p>When one door of happiness closes, another opens, but often we look so long at the closed door that we do
            not
            see the one that has been opened for us. </p>

          <p class="stepclass">
            Step 1:You may use the Services only if you agree to form a binding contract with us and are not a person
            barred
            from receiving services under the laws of the applicable jurisdiction.
          </p>
          <p class="stepclass">
            Step 2:
            Our Privacy Policy describes how we handle the information you provide to us when you use our Services.
          </p>

          <p class="subtitleclass">Privacy</p>
          <p>
            When one door of happiness closes, another opens, but often we look so long at the closed door that we do
            not see the one that has been opened for us.
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>