<ion-content>
  <div class="custom-bg">
    <ion-grid>
      <ion-row class="custom-logo">
        <ion-col size="12">
          <ion-img src="../../../assets/png/logo_label.png"></ion-img>
          <ion-label>
            {{'message.description_singup_success' | translate}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="custom-button">
        <ion-col size="12">
          <ion-button shape="round" (click)="doContinue()">
            {{'continue' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>