<ion-header translucent>
  <ion-toolbar>
    <div>
      <button class="backclass" (click)="goSetting()">
        <ion-icon class="left_arrow"></ion-icon>
      </button>
      <label class="custom-label white-color">
        <label>{{'setting.privacy_policy' | translate | uppercase}}</label>
      </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <p *ngIf="privacyPolicyForm" [innerHTML]="privacyPolicyForm.content">
            </p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>