<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-news">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="tab-i-dot tab-icon-dot"></ion-icon>
      <ion-icon class="tab-i-news tab-icon"></ion-icon>
      <ion-label>{{"tab.news" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-people">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="tab-i-dot tab-icon-dot"></ion-icon>
      <ion-icon class="tab-i-people tab-icon"></ion-icon>
      <ion-label>{{"tab.people" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-share">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="tab-i-dot tab-icon-dot"></ion-icon>
      <ion-icon class="tab-i-share tab-icon"></ion-icon>
      <ion-label>{{"tab.share" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-profile">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="tab-i-dot tab-icon-dot"></ion-icon>
      <ion-icon class="tab-i-profile tab-icon"></ion-icon>
      <ion-label>{{"tab.profile" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-messages">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon class="tab-i-dot tab-icon-dot"></ion-icon>
      <ion-icon class="tab-i-messages tab-icon"></ion-icon>
      <ion-label>{{"tab.messages" | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>