<ion-content>
  <ion-grid>
    <ion-row class="custom-header">
      <ion-col>
        <ion-label>{{"forgot_your_password" | translate}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="custom-body">
      <form class="custom-forgotform" [formGroup]="validate_form" (ngSubmit)="forgotPassword()">
        <ion-col size="12" offset="0">
          <ion-input type="text" formControlName="email" placeholder="{{'email' | translate}}" name="email">
          </ion-input>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="validate_form.get('email').hasError(validation.type) && (validate_form.get('email').dirty || validate_form.get('email').touched)">
                <ion-label>{{ validation.message }}</ion-label>
              </div>
            </ng-container>
          </div>
          <ion-button [disabled]="isSending" class="custom-resetbtn" type="submit">
            <ion-spinner name="bubbles" *ngIf="isSending"></ion-spinner>
            {{'reset_your_password' | translate}}
          </ion-button>
        </ion-col>
      </form>
    </ion-row>
    <ion-row class="custom-footer">
      <ion-col size="10" offset="1">
        <button class="custom-gotologinbtn" (click)="goLogin()" id="login_here">{{"go_to_login" | translate}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>