ion-header {
	ion-toolbar {
		--background: black;
		color: white;
	}
}
ion-content {
	.custom-credential {
    padding: 50px 20px;
		ion-col {

			ion-button {
				width: 60px;
				font-size: 10px;
				height: 24px;
        --background: #737373;
        --background-activated: #d14931;      
			}
		}
		.custom-col-right {
			display: flex;
			justify-content: flex-end;
		}
	}
}
