<ion-item>
  <ion-avatar class="friendImage" slot="start">
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-avatar>
  <div class="custom_friendinfo">
    <div>
      <ion-label class="custom_displayname">
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </ion-label>
    </div>
    <div>
      <ion-label class="custom_followers">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-label>
    </div>
  </div>
</ion-item>