ion-header {
	.custom-toolbar {
		--color: white;
		--background: black;
	}
}
ion-content {
	.custom-send-button {
		--background: black;
	}
	.custom-newsitem {
		padding: 10px;
		ion-item {
			--border-style: none;
			.custom-title {
				font-size: 20px;
				font-weight: bold;
				margin: 5px 0px;
			}
			.custom-content {
				font-size: 16px;
				margin: 5px 0;
			}
			video {
				width: 100%;
			}
			.custom-toemail-input {
				border: 1px solid #eee;
				--padding-start: 10px;
				--padding-end: 10px;
			}
		}
		.custom-avatar {
			width: 32px;
			height: 32px;
		}
		.custom-timestamp {
			text-align: right;
			font-size: 12px;
			margin-right: 20px;
		}
		.custom-actiongroup {
			.custom-divgroup {
				display: flex;
				position: absolute;
				right: 0px;
				.custom-divitem {
					display: flex;
					margin: 0 5px;
					ion-label {
						font-size: 12px;
						font-weight: bold;
						line-height: 2;
					}
				}
			}
		}
		ion-textarea {
			border: 1px solid #eae7e2;
			border-radius: 7px;
			font-size: 12px;
			--padding-start: 10px;
			position: relative;
			.custom-lbremain {
				position: absolute;
				right: 5px;
				font-size: 10px;
			}
			ion-button {
				position: absolute;
				right: 5px;
				bottom: 0px;
				font-size: 10px;
				--background: black;
				z-index: 5;
			}
		}
	}

	.custom-commentitem {
		.feed-item-container {
			display: flex;
			align-items: flex-start;
			padding-bottom: 0.5rem;
			padding-top: 1rem;
			.feed-avatar-container {
				ion-avatar {
					width: 27px;
					height: 27px;
					margin: 0 0px 0 25px;
					padding: 0;
				}
			}
			.feed-content-container {
				display: flex;
				flex-direction: column;
				padding: 5px 10px;
				line-height: 1;
				color: black;
				.lb_title {
					font-size: 14px;
					color: #29313e;
					font-weight: 500;
					label {
						color: #e8e6de;
						font-size: 10px;
						margin-left: 10px;
					}
				}
				.lb_description {
					font-size: 12px;
					color: #29313e;
					margin-top: 5px;
				}
			}
		}
	}
}
